[Desktop Entry]
Type=Application
Name=WordWrap
GenericName=Keyboard Layout Switcher
Comment=Fix text typed in the wrong keyboard layout
Exec=sgk-wordwrap
Icon=wordwrap
Categories=Utility;Accessibility;
Keywords=keyboard;layout;switch;punto;russian;
Terminal=false
NoDisplay=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
